.servicesDetails__container__category__content__description {
    font-family: Hkgrotresk, sans-serif;
    color: #7a7a7a;
    margin: 20px 0 20px 0;
    font-size: 1.1em;
    line-height: 1.5;
    margin: 1em;
}
