.projects__column__postinfo__subtitle {
    width: 55%;
    color: #6d7277;
    font-family: Hkgrotresk, sans-serif;
    background-color: #ffffff;
    padding: 1em 0.5em;
    margin-bottom: 1em;
    margin-left: 1rem;
}
