.projects {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
    height: 100vh;
}

.projects__fadin {
    opacity: 1;
    transition: 5s;
}

/* mobile */

@media only screen and (max-width: 768px) {
    .projects {
        display: flex;
        flex-direction: column;
    }
}
