.projects__column__postinfo__title {
    color: #0d0d12;
    font-family: LouisGeorgeCafeBold, sans-serif;
    background-color: #ffffff;
    padding: 1em 0.5em;
    margin-bottom: 1em;
    margin-left: 1rem;
    font-size: 1.6em;
}
