.action__container__items__icon {
    font-size: 1em;
    color: #000;
}

.action__container__items__icon__fadin {
    opacity: 1;
    transition: 3s;
}

@media only screen and (max-width: 768px) {
    .action__container__items__icon {
        font-size: 0.7em;
    }
}
